<section class="sec2" id="sec2">
  <h1>خدماتنا</h1>
  <div class="border"></div>
  <div class="pa">
    <div class="s_ch"><img src="../assets/images/01.jpg" alt="" width="150px" height="150"></div>
    <div class="s_ch"><h2>تصميم مواقع</h2>
      <p>تعد شركة إنجاز ميديا وكالة تسويق رقمية رائدة في تقديم خدمات متكاملة، متخصصة في تقديم خدمات التسويق الالكتروني وتصميم الهويات التجارية بالاضافة إلى حلول الويب والبرمج.</p></div>
      <div class="s_ch"><img src="../assets/images/brand-message-strategy.webp" alt="" width="150px" height="150"></div>
    <div class="s_ch"><h2> تطبيقات المحمول</h2><p>تعد شركة إنجاز ميديا وكالة تسويق رقمية رائدة في تقديم خدمات متكاملة، متخصصة في تقديم خدمات التسويق الالكتروني

  </div>
  </div>

  <div class="pa2">
    <div class="s_ch2"><img src="../assets/images/01.jpg" alt="" width="150px" height="150"></div>
    <div class="s_ch2"><h2>امن المعلومات مواقع</h2><p>تعد شركة إنجاز ميديا وكالة تسويق رقمية رائدة في تقديم خدمات متكاملة، متخصصة في تقديم خدمات التسويق الالكتروني وتصميم الهويات التجارية بالاضافة إلى حلول الويب والبرمج.</p></div>
      <div class="s_ch2"><img src="../assets/images/brand-message-strategy.webp" alt="" width="150px" height="150"></div>
    <div class="s_ch2"><h2>  تحليل البيانات</h2><p>تعد شركة إنجاز ميديا وكالة تسويق رقمية رائدة في تقديم خدمات متكاملة، متخصصة في تقديم خدمات التسويق الالكتروني

  </div>
  </div>>
  <hr>
</section>

<div class="clit">
</div>
