

<div class="container">

  <h1  class="text-center my-5">مشاريعنا</h1>

  <div class="row ">
    <div class="card m-auto my-3" style="width: 18rem;">
      <img src="../assets/images/01.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>

    <div class="card m-auto" style="width: 18rem;">
      <img src="../assets/images/04.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>

    <div class="card m-auto" style="width: 18rem;">
      <img src="../assets/images/05.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>

    <div class="card  m-auto" style="width: 18rem;">
      <img src="../assets/images/06.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>


    <div class="card m-auto" style="width: 18rem;">
      <img src="../assets/images/06.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>

    <div class="card  m-auto" style="width: 18rem;">
      <img src="../assets/images/05.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card m-auto" style="width: 18rem;">
      <img src="../assets/images/04.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>

    <div class="card  m-auto" style="width: 18rem;">
      <img src="../assets/images/01.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>

</div>
</div>



<div class="iconn" >


<a href="#sec"><i class="fa-solid fa-arrow-up iii"></i></a>



</div>

