<html>
  <head>
    <title>web sites</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- <link rel="stylesheet"  href="all.css"    >
    <link rel="stylesheet"  href="all.min.css"> -->
    <!-- <link rel="stylesheet"  href="../assets/css/main.css"   >  -->

  </head>
  <body>
    <header>
      <div class="par1" id="sec">
        <div class="child1  rr">
          <ul>
            <li><a href="#sec1" >الرئيسيه</a></li>
            <li><a href="#sec2" >خدماتنا</a></li>
                    <li><a href="#sec3" >عملائنا</a></li>
                      <li><a href="#sec4" >مشاريعنا</a></li>
            <li><a href="#"> اتصل بنا</a></li>
          </ul>
        </div>
      <div class="child1  rl">
        <h1> شركتنا</h1>
      </div>
         </div>
      <section class="sec1" id="sec1">
        <h1>  مرحباً بك في<span> شركتنا   </span></h1>
        <p>انزل  الي  اسفل  حتي  تري  خدماتنا</p>
    </section>
    </header>
